<div>

    <img class="phone" src="public/{{phone.images.[0]}}">

    <button data-element="button-back">Back</button>
    <button data-element="button-add-basket">Add to basket</button>

    <h1>{{phone.name}}</h1>

    <p>{{phone.description}}</p>

    <ul class="phone-thumbs">
        {{#each phone.images as |image| }}
            <li>
                <img src="public/{{image}}" alt=""  >
            </li>
        {{/each}}
    </ul>

</div>