<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="app.css">

  <script src="bower_components/lodash/lodash.js" ></script>

  <script src="components/PhoneCatalogue.js" ></script>
  <script defer src="js/app.js" ></script>

</head>
<body>

<div>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <!--Sidebar content-->

          <section>
            <p>
              Search:
              <input>
            </p>

            <p>
              Sort by:
              <select>
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
              </select>
            </p>
          </section>

          <section>
            <p>Shopping Cart</p>
            <ul>
              <li>Phone 1</li>
              <li>Phone 2</li>
              <li>Phone 3</li>
            </ul>
          </section>


        </div>

        <div class="col-md-10" data-component="phone-catalogue" >
          <!--Body content-->



        </div>

      </div>
    </div>
  </div>
</div>

<script id="template" type="text/template">

  <ul class="phones">
    <% _.forEach( phones ,  ( phone ) => { %>
          <li class="thumbnail">
            <a href="#!/phones/<%- phone.id %>" class="thumb">
              <img alt="<%- phone.name %>" src="<%- phone.imageUrl %>">
            </a>
            <a href="#!/phones/<%- phone.id %>"><%- phone.name %></a>
            <p><%- phone.snipped %></p>
          </li>
    <% }); %>
  </ul>


</script>


</body>
</html>